*.iml
.idea
.gradle 
gradle 
build 
out 
gradlew 
gradlew.bat 
settings.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
